mossrecru.Android/Web References/app.ifs.aero/RecruitmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" name="RecruitmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.datacontract.org/2004/07/EternalBlue.Models" />
      <xs:import namespace="http://schemas.datacontract.org/2004/07/Bogus.DataSets" />
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:element name="GetCandidates">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetCandidatesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EternalBlue.Models" minOccurs="1" name="GetCandidatesResult" nillable="true" type="q1:ArrayOfCandidate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTechnologies">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTechnologiesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EternalBlue.Models" minOccurs="1" name="GetTechnologiesResult" nillable="true" type="q2:ArrayOfTechnology" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:element name="anyType" nillable="true" type="xs:anyType" />
      <xs:element name="anyURI" nillable="true" type="xs:anyURI" />
      <xs:element name="base64Binary" nillable="true" type="xs:base64Binary" />
      <xs:element name="boolean" nillable="true" type="xs:boolean" />
      <xs:element name="byte" nillable="true" type="xs:byte" />
      <xs:element name="dateTime" nillable="true" type="xs:dateTime" />
      <xs:element name="decimal" nillable="true" type="xs:decimal" />
      <xs:element name="double" nillable="true" type="xs:double" />
      <xs:element name="float" nillable="true" type="xs:float" />
      <xs:element name="int" nillable="true" type="xs:int" />
      <xs:element name="long" nillable="true" type="xs:long" />
      <xs:element name="QName" nillable="true" type="xs:QName" />
      <xs:element name="short" nillable="true" type="xs:short" />
      <xs:element name="string" nillable="true" type="xs:string" />
      <xs:element name="unsignedByte" nillable="true" type="xs:unsignedByte" />
      <xs:element name="unsignedInt" nillable="true" type="xs:unsignedInt" />
      <xs:element name="unsignedLong" nillable="true" type="xs:unsignedLong" />
      <xs:element name="unsignedShort" nillable="true" type="xs:unsignedShort" />
      <xs:element name="char" nillable="true" type="tns:char" />
      <xs:simpleType name="char">
        <xs:restriction base="xs:int" />
      </xs:simpleType>
      <xs:element name="duration" nillable="true" type="tns:duration" />
      <xs:simpleType name="duration">
        <xs:restriction base="xs:duration">
          <xs:pattern value="\-?P(\d*D)?(T(\d*H)?(\d*M)?(\d*(\.\d*)?S)?)?" />
          <xs:minInclusive value="-P10675199DT2H48M5.4775808S" />
          <xs:maxInclusive value="P10675199DT2H48M5.4775807S" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="guid" nillable="true" type="tns:guid" />
      <xs:simpleType name="guid">
        <xs:restriction base="xs:string">
          <xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:attribute name="FactoryType" type="xs:QName" />
      <xs:attribute name="Id" type="xs:ID" />
      <xs:attribute name="Ref" type="xs:IDREF" />
    </xs:schema>
    <xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EternalBlue.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EternalBlue.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:complexType name="Candidate">
        <xs:sequence>
          <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanSwim" type="xs:boolean" />
          <xs:element minOccurs="0" name="CandidateId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Dad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Experience" nillable="true" type="tns:ArrayOfSkill" />
          <xs:element minOccurs="0" name="FavoriteMusicGenre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bogus.DataSets" name="Gender" type="q1:Gender" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Candidate" nillable="true" type="tns:Candidate" />
      <xs:complexType name="ArrayOfSkill">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Skill" nillable="true" type="tns:Skill" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfSkill" nillable="true" type="tns:ArrayOfSkill" />
      <xs:complexType name="Skill">
        <xs:sequence>
          <xs:element minOccurs="0" name="TechnologyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YearsOfExperience" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Skill" nillable="true" type="tns:Skill" />
      <xs:complexType name="Technology">
        <xs:sequence>
          <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Technology" nillable="true" type="tns:Technology" />
      <xs:complexType name="ArrayOfCandidate">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Candidate" nillable="true" type="tns:Candidate" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfCandidate" nillable="true" type="tns:ArrayOfCandidate" />
      <xs:complexType name="ArrayOfTechnology">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Technology" nillable="true" type="tns:Technology" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfTechnology" nillable="true" type="tns:ArrayOfTechnology" />
    </xs:schema>
    <xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Bogus.DataSets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bogus.DataSets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:simpleType name="Gender">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Male" />
          <xs:enumeration value="Female" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="Gender" type="tns:Gender" />
    </xs:schema>
    <xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IRecruitmentService_GetCandidates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCandidates" />
  </wsdl:message>
  <wsdl:message name="IRecruitmentService_GetCandidates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCandidatesResponse" />
  </wsdl:message>
  <wsdl:message name="IRecruitmentService_GetTechnologies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTechnologies" />
  </wsdl:message>
  <wsdl:message name="IRecruitmentService_GetTechnologies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTechnologiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecruitmentService">
    <wsdl:operation name="GetCandidates">
      <wsdl:input wsam:Action="http://tempuri.org/IRecruitmentService/GetCandidates" message="tns:IRecruitmentService_GetCandidates_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRecruitmentService/GetCandidatesResponse" message="tns:IRecruitmentService_GetCandidates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTechnologies">
      <wsdl:input wsam:Action="http://tempuri.org/IRecruitmentService/GetTechnologies" message="tns:IRecruitmentService_GetTechnologies_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRecruitmentService/GetTechnologiesResponse" message="tns:IRecruitmentService_GetTechnologies_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding" type="tns:IRecruitmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCandidates">
      <soap:operation soapAction="http://tempuri.org/IRecruitmentService/GetCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTechnologies">
      <soap:operation soapAction="http://tempuri.org/IRecruitmentService/GetTechnologies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecruitmentService">
    <wsdl:port name="BasicHttpBinding" binding="tns:BasicHttpBinding">
      <soap:address location="https://app.ifs.aero/EternalBlue/recruitment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>